@font-face {
    font-family: "bodoni";
    src: 
    local("bodoni"),
    url(../fonts/BodoniXT.ttf) format("truetype");
}
@font-face {
    font-family: "cooper";
    src: 
        local("cooper"),
        url(../fonts/COOPBL.TTF) format("truetype");
}
@font-face {
    src: url("https://mdn.github.io/shared-assets/fonts/LeagueMono-VF.ttf");
    font-family: "LeagueMonoVariable";
    font-style: normal;
    font-stretch: 1% 500%; /* Required by Chrome */
  }
@font-palette-values --retro {
	font-family: "Honk";
	base-palette: 5;
	override-colors: 0 #03001f, 1 #03001f, 2 transparent, 3 transparent,
		4 transparent, 5 transparent, 6 transparent, 7 transparent;
}
  

body {
    /* font-family: Calibri, sans-serif; */
    width: 100%;
    height: min-content;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(7,10,83,1) 52%, rgba(8,175,177,1) 87%, rgba(255,187,40,1) 100%);
    height: min-content;
    overflow: scroll;
    padding: 64px;
    margin: 0px;
    box-sizing: border-box;
}
.main-container {
    width: 100%;
}
.test {
    color: red;
    font-size: 60px;
    font-family: "Honk", serif;
    font-stretch: ultra-expanded;
}
.event-title {
    font-weight: 700;
    font-size: 300px;
    margin: 0 auto;
    width: min-content;
    text-align: center;
    font-family: "cooper", serif;
    color: rgb(255, 255, 30);
    user-select: none;
}
.event-title-2 {
    font-weight: 900;
    font-size: 350px;
    letter-spacing: -1.7rem;
    text-align: center;
    font-family: "cooper", serif;
    position: absolute;
    margin: 0 auto;
    width: auto;
    z-index: -1;
}
.first-band {
    height: 1000px;
    width: 90%;
    margin: 0 auto;
    border-width: 4px;
    background-color: aqua;
}
.second-band {
    height: 1000px;
    width: 90%;
    margin: 0 auto;
    border-width: 4px;
    background-color: green;
}
.third-band {
    height: 1000px;
    width: 90%;
    margin: 0 auto;
    border-width: 4px;
    background-color: orange;
}
.fourth-band {
    height: 1000px;
    width: 90%;
    margin: 0 auto;
    border-width: 4px;
    background-color: blue;
}
.presentation {
    height: 1000px;
    width: 90%;
    margin: 0 auto;
    border-width: 4px;
    background-color: transparent;
}
@media (width >= 375px) { 

}

@media (375px <= width <= 768px) { 

}

@media (width <= 768px) { 

}
